<h1>Show Meals by Letter </h1>
<style>
    body{
        background-color:darkseagreen;
    }
    img {
    
        float: center;
        margin-right: 40px;
    }
</style>
<% for(meal of meals){%> 
    <br>
    <h2><%= meal.strMeal %></h2>
    
    <p> category: <%=meal.strCategory %></p>
    
   
    <div>
        <img width="300" src="<%= meal.strMealThumb %>" alt="meal photo" > 
        <h3 > Instructions </h3>
         <%= meal.strInstructions %> </div>
  

<% } %>
<br>



<!-- <pre><%= JSON.stringify(meals[0],null,5) %> </pre> -->
